.container{
    background-color: var(--primary-color);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
    height: 2.5rem;
    margin: 8.88rem;
    border: none;
    padding: 0px 32px;
    border-radius: 0.6rem;
    outline: none;
}

.container:hover{
    background-color: var(--color-effect);
}

.title{
    color: var(--color-base);
    font-size: 16px;
}

.icon{
    display: none;
}


@media screen and (max-width: 550px) {

    .container{
        height: 2rem ;
        padding: 0px 22px;
        border-radius: 0.5rem;

    }

    .title{
        font-size: 14px;
    }
}


@media screen and (max-width: 320px) {

    .title {
        display: none;
    }

    .icon{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        display: flex;
    }

    .container{
        height: 2rem ;
        border-radius: 0.5rem;
        padding: 0px 12px;        
    }
}
