.sectionCategoryTitle {
  font-size: 32px;
  margin: 2rem 0 3rem 0;
}

.sectionProducts {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.sectionTitle {
  display: flex;
  gap: 1rem;
  font-size: 42px;
  align-items: center;
  width: fit-content;
  margin: 1rem auto;
}
