.category-card{
    width: 12.5rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 50px ;
    background-color: var(--primary-color);
    margin: 100px;
}



.category-card-active{
    width: 12.5rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
    border-radius: 50px ;
    background-color: var(--color-base);
    margin: 100px;
}


.dropdown-icon{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-icon-active{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 6rem ;
    height: 4rem;
    margin-top: 20px;
}

.container{
    width: 90px;
    height: 90px;
        margin-top: 30px;
    border-radius: 100%;
    background-color: var(--color-base);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    color: var(--color-base);
    font-size: 20px;
    margin-top: 2.2rem;
}

.title-active {
    color: var(--primary-text);
    font-size: 20px;
    margin-top: 2.2rem;
}

.rotate{

    transform: rotate(180deg);
}

@media screen and (max-width: 550px) {

    .category-card{
        width: 9.4rem;
        height: 13.12rem;
        border-radius: 35px;
    }

    .category-card-active{
        width: 9.4rem;
        height: 13.12rem;
        border-radius: 35px;
    }

    .container{
        width: 60px;
        height: 60px;
    }

    .title {
        font-size: 18px;
        top: 8rem;
    }
    
    .title-active {
        font-size: 18px;
        top: 8rem;
    }
   
    .icon{
        width: 2.8rem ;
        height: 2.8rem;
        margin-top: 12px;

    }

    .rotate{
        transform: rotate(180deg);

    }
}
