.FavSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noItens {
  margin: 2rem 0;
  font-size: 1rem;
  color: #818181;
}

.sectionTitle {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
