.container{
    width: 300px;
    height: fit-content;
    border-radius: 40px;
    background-color: var(--color-base);
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
    transition: .3s;
    cursor: pointer;
}

.container:hover{

    transform: scale(1.03);
}

.icon{
    border-radius: 100%;
    width: 25%;
    height: 25%;
    margin: 10% 0 5%;
}

.title{
    color: var(--primary-text);
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
}

.line{
    border: 0;
    border-top: 1px solid #DCDCDC ;
    margin-bottom: 14px;
    width: 75%;
}

.adress{
    margin-bottom: 18px;
}

.containerInfos{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 10fr;

}

.location{
    margin-top: -4px;

}

.infos{
    margin-top: -1.5px;
}

.times  {
    margin-bottom: 10px;
}

p{
    color: var(--primary-text);
    font-size: 14px;
}

@media screen and (max-width: 550px) {
    .container{
        width: 240px;
        border-radius: 35px;

    }

    .title{
        font-size: 14px;
    }

    p{
        font-size: 12px;
    }

    .containerInfos{
        display: grid;
        grid-template-columns: 1fr 9fr;
        width: 90%;
    }

    .location{
        margin-top: -6px;
    
    }
    
    .infos{
        margin-top: -2px;
    }

}

@media screen and (max-width: 330px) {
    .container{
        width: 200px;
        border-radius: 25px;
        padding: 0 10px 10px 10px;
    }

    .containerInfos{
        display: grid;
        grid-template-columns: 1fr 8fr;
        width: 100%;
    }

    .title{
        font-size: 12px;
    }

    p{
        font-size: 10px;
    }

    .location{
        margin-top: -8px;
    
    }
    
    .infos{
        margin-top: -5px;
    }
}

