.profileImage{

}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 20rem;
    border: 1px #314E52 solid;
    background-color: #FAF7F7;
    color: #959595;
    cursor: pointer;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 550px) {
    .imageContainer {
        width: 10rem;
        height: 10rem;
        font-size: 12px;
    }
}
